<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<!-- HEADER-AREA START -->
<header class="header-area">
    <!-- HEADER-TOP START -->
    <div class="header-top hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="top-menu">
                        <!-- Start Language -->
                        <ul class="language">
                            <li><a href="#"><img class="right-5" th:href="@{/img/flags/gb.png}" src="img/flags/gb.png" alt="#">English<i class="fa fa-caret-down left-5"></i></a>
                                <ul>
                                    <li><a href="#"><img class="right-5" th:src="@{/img/flags/fr.png}" src="img/flags/fr.png" alt="#">French</a></li>
                                    <li><a href="#"><img class="right-5" th:src="@{/img/flags/gb.png}" src="img/flags/gb.png" alt="#">English</a></li>
                                    <li><a href="#"><img class="right-5" th:src="@{/img/flags/gb.png}" src="img/flags/gb.png" alt="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Language -->
                        <!-- Start Currency -->
                        <ul class="currency">
                            <li><a href="#"><strong>$</strong> USD<i class="fa fa-caret-down left-5"></i></a>
                                <ul>
                                    <li><a href="#">$ EUR</a></li>
                                    <li><a href="#">$ GBP</a></li>
                                    <li><a href="#">$ USD</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Currency -->
                        <p class="welcome-msg">Default welcome msg!</p>
                    </div>
                    <!-- Start Top-Link -->
                    <div class="top-link">
                        <ul class="link">
                            <li><a th:href="@{/my-account}" href="my-account"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a th:href="@{/wishlist}" href="wishlist"><i class="fa fa-heart"></i> Wish List (0)</a></li>
                            <li><a th:href="@{/checkout}" href="checkout"><i class="fa fa-share"></i> Checkout</a></li>
                            <li><a th:href="@{/account}" href="account"><i class="fa fa-unlock-alt"></i> Login</a></li>
                        </ul>
                    </div>
                    <!-- End Top-Link -->
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER-TOP END -->
    <!-- HEADER-MIDDLE START -->
    <div class="header-middle">
        <div class="container">
            <!-- Start Support-Client -->
            <div class="support-client hidden-xs">
                <div class="row">
                    <!-- Start Single-Support -->
                    <div class="col-md-3 hidden-sm">
                        <div class="single-support">
                            <div class="support-content">
                                <i class="fa fa-clock-o"></i>
                                <div class="support-text">
                                    <h1 class="zero gfont-1">working time</h1>
                                    <p>Mon- Sun: 8.00 - 18.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-truck"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Free shipping</h1>
                                <p>On order over $199</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-money"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Money back 100%</h1>
                                <p>Within 30 Days after delivery</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-phone-square"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Phone: 0123456789</h1>
                                <p>Order Online Now !</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                </div>
            </div>
            <!-- End Support-Client -->
            <!-- Start logo & Search Box -->
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo">
                        <a th:href="@{/index}" href="index" title="Malias"><img th:src="@{/img/logo.png}" src="img/logo.png" alt="Malias"></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="quick-access">
                        <div class="search-by-category">
                            <div class="search-container">
                                <form action="#">
                                    <select name="categories">
                                        <option value="all" class="all-cate">All Categories</option>
                                        <th:block th:each="item : ${@categories}">
                                            <option th:value="${item.getId()}" th:text="${item.getName()}"></option>
                                        </th:block>
                                    </select>
                                </form>
                            </div>
                            <div class="header-search">
                                <form th:action="@{/search}" action="/search">
                                    <input name="nameItem" type="text" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="top-cart">
                            <ul>
                                <li>
                                    <a th:href="@{/cart}" href="cart">
                                        <span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
                                        <span class="cart-total">
                                            <span class="cart-title">shopping cart</span>
                                            <span class="cart-item" th:text="${@basket.countItems()}">2 item(s)- </span>
                                            <span class="top-cart-price" th:text="${@basket.getTotal()}">$365.00</span>
                                        </span>
                                    </a>

                                    <div class="mini-cart-content">


                                        <div class="cart-img-details" th:each="items : ${@basket.getItemsAndCount()}">
                                            <div class="cart-img-photo">
                                                <a th:href="'/cart/' + ${items.getKey().getId()}" href="#"><img th:src="${items.getKey().getImgMain()}" src="img/product/total-cart.jpg" alt="#"></a>
                                            </div>
                                            <div class="cart-img-content">
                                                <a th:href="'/cart/' + ${items.getKey().getId()}" th:text="${items.getKey().getNameItem()}"><h4>Prod Aldults</h4></a>
                                                <span>
                                                    <strong class="text-right" th:text="${items.getValue()} + 'x'">1 x</strong>

                                                    <strong class="cart-price text-right" th:text="${items.getKey().getPrise()} * ${items.getValue()}">$180.00</strong>
                                                </span>
                                            </div>
                                            <div class="pro-del">

                                                <form th:action="'/cart/' + ${items.getKey().getId()}" th:method="delete" action="">
                                                    <button type="submit" class="fa fa-times"></button>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="clear"></div>

<!--                                        <div class="cart-img-details">-->
<!--                                            <div class="cart-img-photo">-->
<!--                                                <a href="#"><img src="img/product/total-cart2.jpg" alt="#"></a>-->
<!--                                            </div>-->
<!--                                            <div class="cart-img-content">-->
<!--                                                <a href="#"><h4>Fact Prone</h4></a>-->
<!--                                                <span>-->
<!--                                                    <strong class="text-right">1 x</strong>-->
<!--                                                    <strong class="cart-price text-right">$185.00</strong>-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                            <div class="pro-del">-->
<!--                                                <a href="#"><i class="fa fa-times"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="cart-inner-bottom">
													<span class="total">
														Total:
														<span class="amount" th:text="${@basket.getTotal()}">$550.00</span>
													</span>
                                            <span class="cart-button-top">
														<a th:href="@{/cart}" href="cart">View Cart</a>
														<a th:href="@{/checkout}" href="checkout">Checkout</a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End logo & Search Box -->
        </div>
    </div>
    <!-- HEADER-MIDDLE END -->
    <!-- START MAINMENU-AREA -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mainmenu hidden-sm hidden-xs">
                        <nav>
                            <ul>
                                <li><a th:href="@{/index}" href="index">Home</a>
                                    <ul>
                                        <li><a th:href="@{/index}" href="index">Home</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/about}" href="about">About Us</a></li>
                                <li class="hot"><a th:href="@{/shop}" href="shop">Bestseller Products</a></li>
                                <li class="new"><a th:href="@{/shop-list}" href="shop-list">New Products</a></li>
                                <li><a th:href="@{/shop}" href="shop">Special Products</a></li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a th:href="@{/cart}" href="cart">Cart</a></li>
                                        <li><a th:href="@{/checkout}" href="checkout">Checkout</a></li>
                                        <li><a th:href="@{/account}" href="account">Create Account</a></li>
                                        <li><a th:href="@{/my-account}" href="my-account">My Account</a></li>
                                        <li><a th:href="@{/product-details}" href="product-details">Product details</a></li>
                                        <li><a th:href="@{/shop}" href="shop">Shop Grid View</a></li>
                                        <li><a th:href="@{/shop-list}" href="shop-list">Shop List View</a></li>
                                        <li><a th:href="@{/wishlist}" href="wishlist">Wish List</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN-MENU-AREA -->
    <!-- Start Mobile-menu -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav id="mobile-menu">
                        <ul>
                            <li><a  th:href="@{/index}" href="index">Home</a>
                                <ul>
                                    <li><a th:href="@{/index}" href="index">Home Page 1</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/about}" href="about">About Us</a></li>
                            <li><a th:href="@{/shop}" href="shop">Bestseller Products</a></li>
                            <li><a th:href="@{/shop-list}" href="shop-list">New Products</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a th:href="@{/cart}" href="cart">Cart</a></li>
                                    <li><a th:href="@{/checkout}" href="checkout">Checkout</a></li>
                                    <li><a th:href="@{/account}" href="account">Create Account</a></li>
                                    <li><a th:href="@{/login}" href="login">Login</a></li>
                                    <li><a th:href="@{/my-account}" href="my-account">My Account</a></li>
                                    <li><a th:href="@{/product-details}" href="product-details">Product details</a></li>
                                    <li><a th:href="@{/shop}" href="shop">Shop Grid View</a></li>
                                    <li><a th:href="@{/shop-list}" href="shop-list">Shop List View</a></li>
                                    <li><a th:href="@{/wishlist}" href="wishlist">Wish List</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/contact}" href="contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile-menu -->
</header>
<!-- HEADER AREA END -->
