<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/linkCssAndTitle"></head>
    <body>

        <!-- Add your site or application content here -->

		<header th:insert="fragment/header" class="header-area">

		</header>

		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div th:replace="fragment/left-category-menu" class="left-category-menu"></div>
						<div th:replace="fragment/bestseller" class="small-product-area"></div>
					</div>
					<div class="col-md-9">
						<!-- Start Map area -->
						<div class="map-area">
							<div id="googleMap" style="width:100%;height:350px;"></div>
						</div>
						<!-- End Map area -->
						<!-- Start Contact-Message -->
						<div class="contact-message">
							<fieldset>
								<form method="post" action="mail.php">
									<legend>Contact Form</legend>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>Your Name</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="name"/>
											</div>
										</div>
									</div>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>E-Mail Address</label>
											<div class="col-sm-10">
												<input class="form-control" type="email" name="email"/>
											</div>
										</div>
									</div>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>Enquiry</label>
											<div class="col-sm-10">
												<textarea class="form-control" rows="10" name="message"></textarea>
											</div>
										</div>
									</div>
									<div class="buttons pull-right">
										<input class="btn btn-primary" type="submit" value="submit" name="submit"/>
									</div>
								</form>
							</fieldset>
						</div>
						<!-- End Contact-Message -->
					</div>
				</div>
			</div>

			<!-- START BRAND-LOGO-AREA -->
		<div th:replace="fragment/overFooter" class="overFooter">

		</div>

		</section>
		<!-- END HOME-PAGE-CONTENT -->

		<footer th:replace="fragment/footer">

		</footer>


		<script th:replace="fragment/jqueryScript">

		</script>

		<script>
			function initialize() {
				var mapOptions = {
					zoom: 5,
					scrollwheel: false,
					center: new google.maps.LatLng(40.7058316, -74.2581978)
				};

				var map = new google.maps.Map(document.getElementById('googleMap'),
					mapOptions);

				var marker = new google.maps.Marker({
					position: map.getCenter(),
					animation:google.maps.Animation.BOUNCE,
					icon: 'img/map-marker.png',
					map: map
				});
			}
			
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>

    </body>
</html>
